$globalWidth: 55%;

$linkStates: #00c8c8; /* link hover, link active */
$listTitleColor: #575153;
$listTextColor: #727272;

$primaryColor: #f8f8f8; /*header and footer*/
$secondaryColor: #333333; /*Top bar, Bottom bar*/
$secondaryColorText: #999999; /*Top bar text color, Bottom bar text color*/
$secondaryTextColor: #777777;
$navText: #222222;
$paragraphColor: #8e8c8c;

$fontHeader: 'Montserrat', sans-serif;
$fontText: 'Roboto', sans-serif;