@import "_var.scss";
@import "_mixins.scss";

* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-family: $fontHeader;
    font-weight: 500;
    text-transform: uppercase;
}

p {
    font-family: $fontText;
    color: $paragraphColor;
    font-size: 15px;
}

li {
    list-style: none;
}

label {
    display: block;
}

a:hover,
a:active,
a:focus {
    color: $linkStates !important;
}

#top-bar {
    background-color: $secondaryColor;
}

.top-bar__container {
    @include bars;
    align-items: baseline;
    padding: 0px;
    width: $globalWidth;
    margin: auto;
    font-size: 13px;
    color: $secondaryColorText;
    .currency {
        select {
            background: rgba(0,0,0,0);
            border: none;
            color: $secondaryColorText;
            cursor: pointer;
        }
    }
    .account-shopping {
        display: flex;
        align-items: baseline;
        .account {
            margin-right: 20px;
        }
    }
    #cart {
        padding: 10px 20px;
        background-color: $linkStates;
        color: white;
        .cart-items {
            padding-left: 20px;
        }
        .cart-dropdown {
            padding-left: 10px;
        }
    }
    a {
        text-decoration: none;
        color: $secondaryColorText;
        padding: 0 15px;
    }
}

#main-header {
    .header-container {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        margin-top: 25px;
        justify-content: space-between;
        .logo {
            z-index: 30;
            font-family: $fontHeader;
            text-transform: uppercase;
            font-size: 24px;
            a {
                text-decoration: none;
                cursor: pointer;
                color: $navText;
                &:hover, &:active, &:focus{
                    color: $navText !important;
                }
            }
            span {
                font-weight: bold;
            }
        }
        .nav-container {
            #open {
                visibility: hidden;
                margin-right: 20px;
            }
            z-index: 30;
            .search-nav-wrap {
                display: flex;
                align-items: baseline;
                padding-bottom: 20px;
                nav {
                    #categories {
                        padding-left: 0;
                        font-family: $fontHeader;
                        text-transform: uppercase;
                        font-size: 13px;
                        display: flex;
                        li {
                            padding: 8px 20px;
                            a {
                                color: $navText;
                                text-decoration: none;
                                font-weight: 500;
                                &:hover, &:active {
                                    color: $linkStates;
                                }
                            }
                        }
                        .category-menu:hover .category-menu__tab {
                            transition: .5s;
                            visibility: visible;
                            transform: translateY(-15px);
                            
                        }
        
                        .category-menu__tab {
                            z-index: 50;
                            text-transform: none;
                            visibility: hidden;
                            position: absolute;
                            top: 140px;
                            padding: 10px;
                            background-color: $primaryColor;
                            box-shadow: 2px 14px 61px -15px rgba(0,0,0,0.75);
                            .local-stores {
                                padding: 30px 0px !important;
                                text-align: left;
                                .map {
                                    text-align: center;
                                    margin-bottom: 20px;
                                    .fas {
                                        font-style: 50px;
                                    }
                                }
                                ul {
                                    padding-left: 0;
                                }
                            }
                            .category-products {
                                display: flex;
                                width: auto;
                                padding-top: 30px;
                                padding-bottom: 30px;
                                .category__list {
                                    text-align: left;
                                    padding-right: 65px;
                                    ul {
                                        padding: 0;
                                    }
                                    .product-item {
                                        padding: 5px 15px 5px 0px !important;
                                        margin-top: 5px; 
                                    }
                                    
                                    h4 {
                                        margin-bottom: 35px;
                                    }
                                }
                            }
                            .sales-banner {
                                color: white;
                                background-color: $secondaryColor;
                                padding: 10px 50px;
                                p {
                                    font-size: 30px;
                                }
                                span {
                                    display: block;
                                    font-weight: bold;
                                    color: white;
                                }
                            }
                        }
                    }
                }
            }
        }
        .search-field-container {
            .search-container {
                position: relative;
                #search-button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: block;
                    background: rgba(0,0,0,0);
                    border: none;
                    opacity: 0.6;
                    cursor: pointer;
                    height: 100%;
                }
            }
            .search--input {
                border: 1px solid #e7e7e7;
                color: #989898;
                padding: 5px 7px;
            }
        }
    }
}

.intro-cover {
    background: url("../assets/img/headercontainer.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat repeat;
    height: auto;
    width: 100%;
    position: relative;
    .intro-cover__info {
        color: white;
        text-transform: uppercase;
        padding: 100px;
        h1 {
            letter-spacing: 2px;
            font-size: 48px;
        }
        h3 {
            letter-spacing: 5px;
            font-size: 30px;
        }
        span {
            font-weight: bold;
        }
    }
}

/* Home page */
.promo-slider {
    margin-top: -124px;
    position: relative;
    .slide-btn {
        position: absolute;
        bottom: 15%;
        right: 25%;
        font-weight: 500;
        padding: 10px 15px;
        letter-spacing: 1px;
        font-family: $fontHeader;
        background-color: transparent;
        color: #454647;
        border: 2px solid #737373;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            border-color: $linkStates;
            color: $linkStates;
            transition: 0.3s;
        }
    }
}

.product-information {
    visibility: hidden;
  }
  
  .disabled-product {
    &:hover {
      cursor:not-allowed;
    }
  }
  
  #product-section {
    width: $globalWidth;
    margin: auto;
  }
  
  .product-display__list {
    font-family: $fontHeader;
    padding: 0 10px 0 0;
    text-transform: uppercase;
    font-size: 12px;
    text-align: left;
    font-weight: bold;
    color: $listTextColor;
    letter-spacing: .5px;
    cursor: pointer;
    margin: 30px 0;
    li {
      display: inline-block;
      margin-right: 20px;
      &:hover, &:active {
        color: $linkStates;
      }
      a {
        text-decoration: none;
        color: $listTextColor;
      }
    }
  }
  
  #popular {
    display: grid;
    // grid-template-rows: repeat(3, minmax(1fr, 5fr)) ;
    grid-row: auto;
    grid-template-columns: repeat(12, 1fr);
    grid-column-gap: 10px;
    div {
      position: relative;
    }
    div:nth-child(1n){
      grid-column: 1 / 4;
      grid-row: 1 / 2;
    }
    div:nth-child(2n){
      grid-column: 4 / 7;
      grid-row: 1 / 2;
    }
    div:nth-child(3n){
      grid-column: 7 / 13;
      grid-row: 1 / 3;
    }
    div:nth-child(4n){
      grid-column: 1 / 7;
      grid-row: 2 / 4;
    }
    div:nth-child(5n){
      grid-column: 7 / 10;
      grid-row: 3 / 4;
    }
    div:nth-child(6n){
      grid-column: 10 / 13;
      grid-row: 3 / 4;
    }
  }

//Look Grid
.look-section-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    div:nth-child(1n){
      grid-column: 1 / 2;
      position: relative;
    }
    div:nth-child(2n){
      grid-column: 2 / 3;
      position: relative;
    }
    div:nth-child(3n){
      grid-column: 3 / -1;
      position: relative;
    }
    div {
      .look-info {
        position: absolute;
        width: 50%;
        top: 10%;
        right: 10px;
        text-align: right;
        h2 {
          font-size: 35px;
          span {
            font-weight: bold;
          }
        }
        .lookbook--btn {
          width: 150px;
          height: 50px;
          @include ctaButton;
        }
      }
    }
  }


/* Brand page */
.grid-container {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, auto);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    width: $globalWidth;
    margin: 70px auto 70px auto;
    text-align: left;
    h2 {
        color: $listTitleColor;
        font-weight: bold;
    }
    h5 {
        color: $listTextColor;
        font-weight: bold;
    }
    .hand-design {
        grid-row: 1 / 6;
        grid-column: 1 / -1;
        // margin-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 30px;
        @media screen and(min-width: 1676px) {
            .mytext {
                height: 70%;
                margin: auto;
            }   
        }
    }
    .ethical-trading {
        grid-row: 5 / 10;
        grid-column: 2 / -1;
    }
    .vision {
        grid-row: 6 / 12;
        grid-column: 1 / 2;
        margin-top: 60px;
        .video-container {
            max-width: 100%;
            height: auto;
        }
    }
    .awards {
        grid-row: 10 / 12;
        grid-column: 2 / -1;
        display: flex;
        flex-wrap: wrap;
        img {
            margin: 20px;
        }
    }
}

/* Register page */
.account-page {
    width: $globalWidth;
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    .account-register, .account-signin {
        width: 45%
    }
}
.vertical-line {
    width: 1px;
    background-color: #eeeeee;
}


/* Product view page */
.product-view-container {
    width: $globalWidth;
    margin: 50px auto;
    p {
        font-size: 12px;
    }
    .product-view {
        display: flex;
        justify-content: space-between;
        .product-image {
            width: 48%;
        }
        .product-details {
            width: 48%;
            text-align: left;
            h4 {
                margin-top: 0;
                margin-bottom: 0;
            }
            .product-reviews {
                div {
                    display: inline-block;
                    margin: auto 10px;
                    font-family: $fontHeader;
                    font-size: 12px;
                    a {
                        color: $listTitleColor;
                        font-weight: 500;
                        text-decoration: none;
                        &:hover {
                            color: $linkStates;
                        }
                    }
                }
                div:nth-child(1) {
                    margin-left: 0;
                    p {
                        color: $listTextColor;
                        font-weight: bold;
                    }
                }
                div:nth-child(5) {
                    span {
                        padding-right: 5px;
                        font-weight: 500;
                    }
                    .fab, .fas {
                        font-size: 9px;
                        margin-right: 8px;
                        color: $paragraphColor;
                        &:hover {
                            color: $linkStates;
                        }
                    }
                }
            }
            .product-price {
                color: $paragraphColor;
                font-size: 25px;
            }
            .product-stockinfo {
                p {
                    text-transform: uppercase;
                    font-weight: bold;
                    color: $listTitleColor;
                }
                span {
                    text-transform: unset;
                    color: $paragraphColor;
                }
            }
            .product-description {
                ul {
                    padding-left: 0;
                    color: $paragraphColor;
                    font-size: 12px;
                }
            }
            .product-specification {
                display: flex;
                justify-content: space-between;
                text-transform: uppercase;
                font-weight: 500;
                label {
                    color: $listTitleColor;
                    margin-bottom: 5px;
                    font-size: 13px;
                    font-weight: bold;
                }
                select {
                    padding: 5px 10px;
                    width: 100%;
                    font-family: $fontHeader;
                    border-color: #e7e7e7;
                }
                .product-select {
                    width: 35%;
                }
                .product-input {
                    width: 15%;
                    input[type="number"] {
                        width: 100%;
                        padding: 5px 10px;
                        font-family: $fontHeader;
                        border: 1px solid #e7e7e7;
                    }
                }
            }
            .product-view__buttons {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                .add--tocart, .add--tolookbook {
                    margin-top: 30px;
                    width: 45%;
                    padding: 10px 10px !important;
                    @include ctaButton;
                    &:hover {
                        background-color: $secondaryColor !important;
                        border-color: $secondaryColor;
                    }
                }
            }
        }
    }
    .product-view__compare {
        margin-top: 20px;
        a {
            text-decoration: none;
            color: #454647;
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 14px;
            font-weight: 500;
            font-family: $fontHeader;
        }
        .fas {
            color: $listTextColor;
        }
    }
    .product-tabs-container {
        margin-top: 40px;
        #tabs {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            width: 100%;
            a {
                padding: 10px 20px;
                width: 20%;
                background-color: $primaryColor;
                text-transform: uppercase;
                color: $listTitleColor;
                font-size: 14px;
                cursor: pointer;
                font-family: $fontHeader;
                font-weight: 500;
                &:hover, .active {
                    transition: .4s;
                    background-color: $secondaryColor;
                    color: white !important;
                }
            }
        }
        #tab-content {
            text-align: left;
        }
        .tab {
            padding-top: 20px;
        }
        .attention-text {
            font-weight: bold;
            text-transform: uppercase;
            color: $listTextColor;
            font-size: 12px;
            font-family: $fontText;
        }
    }
}





.img-responsive {
    max-width: 100%;
    height: auto;
}

#main-footer {
    background-color: $primaryColor;
}

.footer-container {
    width: $globalWidth;
    margin: auto;
}

.footer-list {
    @include bars;
    div {
        padding: 20px 0;
            ul, h4 {
                text-align: left;
                padding-left: 0;
                padding-top: 10px;
                color: $listTitleColor;
            }

            h4 {
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
            }
            
            li {
                padding: 5px 0;
                font-size: 13px;
            }
            a {
                text-decoration: none;
                font-family: $fontHeader;
                color: $listTextColor;
                &:hover {
                    color: $linkStates;
                }
            }
      }
  }



  .banners {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-transform: uppercase;
      padding-bottom: 40px;
      color: white;
      p {
        font-size: 30px;
      }
      .banners__award { 
          padding: 10px;
          background-color: $secondaryColor;
          width: 49%;
          span { 
              display: block;
              font-weight: bold;
              color: white;
          }
      }
      .banners__social {
          padding: 10px;
          padding-top: 35px;
          background-color: $linkStates;
          width: 49%;
          font-size: 25px;
          .fab {
              cursor: pointer;
              margin: 15px;
              padding: 10px;
          }
      }
  }

  .footer-copyright{
      background-color: $secondaryColor;
      font-size: 13px;
      .copyright { 
          display: flex;
          margin: auto;
          background-color: $secondaryColor;
          width: $globalWidth;
          padding: 0;
          color: $secondaryColorText;
          text-align: left;
          .copyright__author {
              flex-grow: 2;
          }
          .copyright__design {
              margin-right: 2%;
          }
      }
  }



  /* Media Queries for mobile view */ 

@media screen and(max-width: 576px) {
    .top-bar__container,
    .header-container,
    .home,
    .footer-container,
    .copyright {
        width: 100% !important;
    }

    p {
        font-size: 12px;
    }


    /* Header */
    #cart {
        font-size: 12px;
    }

    .promo-slider {
        margin-top: -54px;
        .slide-btn {
            letter-spacing: 0;
            padding: 5px 10px;
            font-size: 9px;
            right: 10px;
            bottom: 10px;
        }
    }

    .intro-cover__info {
        padding: 20px !important;
        h1 {
            font-size: 20px !important;
        }
        h3 {
            font-size: 15px !important;
        }
    }
    
    .mobileToggle {
        visibility: visible !important;
        transition: .3s;
        height: 100% !important;
        overflow-y: scroll;
    }

    .logo {
        font-size: 15px !important;
    }

    .nav-container {
        #open {
            visibility: visible !important;
        }
        .search-nav-wrap {
            position: fixed;
            visibility: hidden;
            height: 0;
            left: 0;
            top: 13%;
            width: 60%;
            display: block !important;
            background-color: #7e8182;
            #categories {
                display: block!important;
                .category-products {
                    display: block !important;
                    width: auto;
                    padding-top: 0 !important;
                    padding-bottom: 30px;
                }
                .category-menu {
                    display: block;
                }
            }
        }
    }

    #product-section {
        width: 100%;
        #popular {
            display: grid;
            // grid-template-rows: repeat(3, minmax(1fr, 5fr)) ;
            grid-row: auto auto auto auto auto;
            grid-template-columns: repeat(12, 1fr);
            grid-column-gap: 10px;
            div {
            position: relative;
            }
            div:nth-child(1n){
            grid-column: 1 / 7;
            grid-row: 1 / 2;
            }
            div:nth-child(2n){
            grid-column: 7 / 13;
            grid-row: 1 / 2;
            }
            div:nth-child(3n){
            grid-column: 1 / -1;
            grid-row: 2 / 3;
            }
            div:nth-child(4n){
            grid-column: 1 / -1;
            grid-row: 3 / 4;
            }
            div:nth-child(5n){
            grid-column: 1 / 7;
            grid-row: 4 / 5;
            }
            div:nth-child(6n){
            grid-column: 7 / 13;
            grid-row: 4 / 5;
            }
        }
    }

    //Lookbook Grid
    .look-section-container {
        margin: auto;
        display: grid;
        grid-template-columns: 1fr;
        
        grid-gap: 10px;
        div:nth-child(1n){
            grid-column: 1 / 2;
            position: relative;
        }
        div:nth-child(2n){
            grid-column: 1 / 2;
            position: relative;
        }
        div:nth-child(3n){
            grid-column: 1 / 2;
            position: relative;
        }
        div {
            .look-info {
                position: absolute;
                width: 60%;
                top: 10%;
                right: 10px;
                h2 {
                    font-size: 20px;
                    span {
                        font-weight: bold;
                    }
                }
        .lookbook--btn {
            width: 150px;
            height: 50px;
            @include ctaButton;
        }
      }
    }
  }

  /* Product view page */
  .product-view-container {
      width: 99%;
      .product-view {
          display: block;
          .product-image {
              width: 100%;
          }
          .product-details {
              width: 100%;
          }
          .add--tocart, .add--tolookbook {
              font-size: 10px !important;
          }
      }
      .product-tabs-container {
          #tabs {
              display: block;
              a {
                  display: block;
                  font-size: 10px;
                  width: 100%;
              }
          }
      }
  }


  /* Register page */
  .account-page {
      width: 100%;
      display: block !important;
      .account-signin {
         margin: auto;
         width: 90%;
      }
      .vertical-line {
          visibility: hidden;
      }
      .account-register {
          margin: auto;
          width: 90%;
      }
  }
}