@import "_var.scss";
@import "_mixins.scss";

* {
    box-sizing: border-box;
  }

body {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    font-family: $fontHeader;
    font-weight: 500;
    text-transform: uppercase;
}

p {
    font-family: $fontText;
    color: $paragraphColor;
    font-size: 15px;
}

li {
    list-style: none;
}

a:hover,
a:active,
a:focus {
    color: $linkStates !important;
}

#top-bar {
    background-color: $secondaryColor;
}

.top-bar__container {
    @include bars;
    align-items: baseline;
    padding: 0px;
    width: $globalWidth;
    margin: auto;
    font-size: 13px;
    color: $secondaryColorText;
    .currency {
        select {
            background: rgba(0,0,0,0);
            border: none;
            color: $secondaryColorText;
            cursor: pointer;
        }
    }
    .account-shopping {
        display: flex;
        align-items: baseline;
        .account {
            margin-right: 20px;
        }
    }
    #cart {
        padding: 10px 20px;
        background-color: $linkStates;
        color: white;
        .cart-items {
            padding-left: 20px;
        }
        .cart-dropdown {
            padding-left: 10px;
        }
    }
    a {
        text-decoration: none;
        color: $secondaryColorText;
        padding: 0 15px;
    }
}

#main-header {
    .header-container {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        margin-top: 25px;
        justify-content: space-between;
        .logo {
            z-index: 30;
            font-family: $fontHeader;
            text-transform: uppercase;
            font-size: 24px;
            a {
                text-decoration: none;
                cursor: pointer;
                color: $navText;
                &:hover, &:active, &:focus{
                    color: $navText !important;
                }
            }
            span {
                font-weight: bold;
            }
        }
        .nav-container {
            z-index: 30;
            .search-nav-wrap {
                display: flex;
                align-items: baseline;
                padding-bottom: 20px;
                nav {
                    #categories {
                        padding-left: 0;
                        font-family: $fontHeader;
                        text-transform: uppercase;
                        font-size: 13px;
                        display: flex;
                        li {
                            padding: 8px 20px;
                            a {
                                color: $navText;
                                text-decoration: none;
                                font-weight: 500;
                                &:hover, &:active {
                                    color: $linkStates;
                                }
                            }
                        }
                        .category-menu:hover .category-menu__tab {
                            transition: .5s;
                            visibility: visible;
                            transform: translateY(-15px);
                            
                        }
        
                        .category-menu__tab {
                            z-index: 50;
                            text-transform: none;
                            visibility: hidden;
                            position: absolute;
                            top: 110px;
                            padding: 10px;
                            background-color: $primaryColor;
                            box-shadow: 2px 14px 61px -15px rgba(0,0,0,0.75);
                            .local-stores {
                                padding: 30px 0px !important;
                                text-align: left;
                                .map {
                                    text-align: center;
                                    margin-bottom: 20px;
                                    .fas {
                                        font-style: 50px;
                                    }
                                }
                                ul {
                                    padding-left: 0;
                                }
                            }
                            .category-products {
                                display: flex;
                                width: auto;
                                padding-top: 30px;
                                padding-bottom: 30px;
                                .category__list {
                                    text-align: left;
                                    padding-right: 65px;
                                    ul {
                                        padding: 0;
                                    }
                                    .product-item {
                                        padding: 5px 15px 5px 0px !important;
                                        margin-top: 5px; 
                                    }
                                    
                                    h4 {
                                        margin-bottom: 35px;
                                    }
                                }
                            }
                            .sales-banner {
                                color: white;
                                background-color: $secondaryColor;
                                padding: 10px 50px;
                                font-size: 36px;
                                span {
                                    display: block;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
        .search-field-container {
            .search-container {
                position: relative;
                #search-button {
                    position: absolute;
                    top: 0;
                    right: 0;
                    display: block;
                    background: rgba(0,0,0,0);
                    border: none;
                    opacity: 0.6;
                    cursor: pointer;
                    height: 100%;
                }
            }
            .search--input {
                border: 1px solid #e7e7e7;
                color: #989898;
                padding: 5px 7px;
            }
        }
    }
}

.intro-cover {
    background: url("../assets/img/headercontainer.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat repeat;
    height: auto;
    width: 100%;
    position: relative;
    .intro-cover__info {
        color: white;
        text-transform: uppercase;
        padding: 100px;
        h1 {
            letter-spacing: 2px;
            font-size: 48px;
        }
        h3 {
            letter-spacing: 5px;
            font-size: 30px;
        }
        span {
            font-weight: bold;
        }
    }
}

/* Home page */
.promo-slider {
    margin-top: -103px;
    position: relative;
    .slide-btn {
        position: absolute;
        bottom: 15%;
        right: 25%;
        font-weight: 500;
        padding: 10px 15px;
        letter-spacing: 1px;
        font-family: $fontHeader;
        background-color: transparent;
        color: #454647;
        border: 2px solid #737373;
        text-transform: uppercase;
        cursor: pointer;
        &:hover {
            border-color: $linkStates;
            color: $linkStates;
            transition: 0.3s;
        }
    }
}


/* Brand page */
.grid-container {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(12, auto);
    grid-row-gap: 30px;
    grid-column-gap: 30px;
    width: $globalWidth;
    margin: 70px auto 70px auto;
    text-align: left;
    h2 {
        color: $listTitleColor;
        font-weight: bold;
    }
    h5 {
        color: $listTextColor;
        font-weight: bold;
    }
    .hand-design {
        grid-row: 1 / 6;
        grid-column: 1 / -1;
        // margin-bottom: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-column-gap: 30px;
        @media screen and(min-width: 1676px) {
            .mytext {
                height: 70%;
                margin: auto;
            }   
        }
    }
    .ethical-trading {
        grid-row: 5 / 10;
        grid-column: 2 / -1;
    }
    .vision {
        grid-row: 6 / 12;
        grid-column: 1 / 2;
        margin-top: 60px;
        .video-container {
            max-width: 100%;
            height: auto;
        }
    }
    .awards {
        grid-row: 10 / 12;
        grid-column: 2 / -1;
        display: flex;
        flex-wrap: wrap;
        img {
            margin: 20px;
        }
    }
    
}

/* Regiser page */
.account-page {
    width: $globalWidth;
    display: flex;
    justify-content: space-between;
    margin: 40px auto;
    .account-register, .account-signin {
        width: 45%
    }
}
.vertical-line {
    width: 1px;
    background-color: #eeeeee;
}


.img-responsive {
    max-width: 100%;
    height: auto;
}

#main-footer {
    background-color: $primaryColor;
}

.footer-container {
    width: $globalWidth;
    margin: auto;
}

.footer-list {
    @include bars;
    // grid-template-columns: auto auto auto auto auto;
    // grid-gap: 10px;
    div {
        padding: 20px 0;
            ul, h4 {
                text-align: left;
                padding-left: 0;
                padding-top: 10px;
                color: $listTitleColor;
            }

            h4 {
                text-transform: uppercase;
                font-size: 12px;
                font-weight: bold;
            }
            
            li {
                padding: 5px 0;
                font-size: 13px;
            }
            a {
                text-decoration: none;
                font-family: $fontHeader;
                color: $listTextColor;
                &:hover {
                    color: $linkStates;
                }
            }
      }
  }



  .banners {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      text-transform: uppercase;
      padding-bottom: 40px;
      color: white;
      p {
        font-size: 30px;
      }
      .banners__award { 
          padding: 10px;
          background-color: $secondaryColor;
          width: 49%;
          span { 
              display: block;
              font-weight: bold;
          }
      }
      .banners__social {
          padding: 10px;
          padding-top: 35px;
          background-color: $linkStates;
          width: 49%;
          font-size: 25px;
          .fab {
              margin: 15px;
              padding: 10px;
          }
      }
  }

  .footer-copyright{
      background-color: $secondaryColor;
      font-size: 13px;
      .copyright { 
          display: flex;
          margin: auto;
          background-color: $secondaryColor;
          width: $globalWidth;
          padding: 0;
          color: $secondaryColorText;
          text-align: left;
          .copyright__author {
              flex-grow: 2;
          }
          .copyright__design {
              margin-right: 2%;
          }
      }
  }